html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  height: 100%;
}

h3 {
  margin-top: 0;
}

.left {
  display: flex;
  flex-direction: column;
  flex: .2;
  background-color: #5332a8;
  color: #FFFFFF;
  min-width: 275px;
}

.start {
  display: flex;
  border-bottom: 1px solid #8062cc;
  cursor: pointer;
  align-items: center;
  transition: all .3s ease;

  &:hover {
    opacity: .7;

    .logo {
      transform: rotate(360deg);
    }
  }
}

.logo {
  width: 47px;
  height: 54px;
  margin: 1rem;
  transition: all 1s ease;
  z-index: 10;
}

.title {
  padding: 1rem 1rem 1rem 0;
  margin: 0;
}

.groups {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

.group {
  flex: .1;
  padding: 1rem;
  display: flex;
  font-size: 16px;
  align-items: center;
  cursor: pointer;
  transition: all .3s ease;

  &:not(:last-child) {
    border-bottom: 1px solid #8062cc;
  }

  &:hover {
    opacity: .7;
  }
}

.group-selected {
  background-color: white;
  color: #5332a8;
  transition: all .3s ease;

  .group__number {
    border: 1px solid #5332a8;
  }
}

.group__number {
  padding: .5rem;
  border: 1px solid #FFFFFF;
  border-radius: 2rem;
  width: 1rem;
  height: 1rem;
  text-align: center;
  margin-right: 1rem;
  transition: all .3s ease;
}

.group__name {
  font-weight: bold;
}

.group__count {
  margin-left: .5rem;
  opacity: .8;
}

.center {
  flex: .8;
  display: flex;
  flex-direction: column;
}

.charts-wrapper {
  box-shadow: 0px 3px 7px 0 #DADADA;
  display: flex;
}

.charts {
  position: relative;
  padding: 1rem;
  width: 500px;
}

.chartjs-render-monitor {
  height: 400px;
  width: 400px;
}

.stat-block {
  background-color: #f6f9fc;
  padding: 2rem;
  margin: 2rem 0;
  font-size: 16px;
  font-weight: bold;
}

.members-wrapper {
  display: flex;
}

.member {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  border: 1px solid #5332a8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5332a8;
}

.member-assigned {
  background-color: #5332a8;
  color: #FFFFFF;
}

.member:not(:last-child) {
  margin-right: 1rem;
}

.chart__title, .table__title {
  margin-left: .5rem;
}

.table {
  flex: 1 0;
  display: flex;
  overflow: auto;
}

.student-table {
  th {
    min-width: 4.5rem;
  }

  tbody {
    tr {
      transition: background-color .3s ease;
      cursor: pointer;
    }

    .student-selected, tr:hover {
      background-color: #8062cc4a;
    }
  }
}

.members-stats {
  display: none;
}

.assign {
  color: #5332a8;
  font-weight: bold;
}

.legend {
  font-family: 'Raleway', sans-serif;
  fill: #333333;
}

.tooltip {
  fill: #333333;
}